{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="celltclients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Cell Tower and Macro Solutions / Turfing</h2>
                <h3 class="section-subheading text-muted">Clients Served</h3>
            </div>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>AT&amp;T</li>
                <li>Sprint</li>
                <li>Nextel/Sprint</li>
                <li>T-Mobile</li>
                <li>Verizon</li>
                <li>Bechtel</li>
                <li>Black and Veatch</li>
                <li>ATC</li>
                <li>Crown Castle </li>
                <li>General Dynamics</li>
                <li>SBA</li>
                <li>Ericsson</li>
            </ul>      	
        </div>
        <div class="col-lg-4">
            <ul>
                <li>Metro PCS</li>
                <li>Cricket</li>
                <li>Next G</li>
                <li>Nexius</li>
                <li>Alcatel/Lucent</li>
                <li>Northrop Grumman</li>
                <li>Nextel/Sprint</li>
                <li>Advanced Network Services (ANS)</li>
                <li>Arete</li>
                <li>Betacom</li>
                <li>Celtone</li>
                <li>Glotel</li>
                <li>Jacobs</li>
            </ul>           
        </div>
        <div class="col-lg-4">
            <ul>
                <li>Macaabee</li>
                 <li>Mastec</li>
                 <li>Mile High Const.</li>
                 <li>MPI</li>
                 <li>Multi</li>
                 <li>MyCom</li>
                 <li>NB&amp;C</li>
                 <li>Paragon/PFC</li>
                 <li>Telcom</li>
                 <li>Telecom Pro</li>
                 <li>TPS/Jacobs</li>
                 <li>West Tower</li>
            </ul>
        </div>
    </div>
</section>
