{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="cellt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Cell Tower and Macro Solutions </h2>
                <h3>&nbsp;</h3>
            </div>
        </div>
        <div class="col-lg-6">
            <ul>
                <li>Cradle to Grave Cell Site and Tower Installations</li>
                <li>Cellular Design and Construction</li>
                <li>Confined Space Certified and Trained</li>
                <li>Aerial and Underground Fiber Splicing, Fiber Termination &amp; Testing</li>
            </ul>      	
        </div>
        <div class="col-lg-6">
            <ul>
                <li>Cable Sweeps, PIM, Management , Cable Premise , ISP & OSP</li>
                <li>Permitting (all) Easements, Right of  Ways, Power, Fiber, SHPO etc</li>
                <li>All Power, BDFB’s, UPS Plant, Batteries etc</li>
                <li>Network Optimization</li>
            </ul>           
        </div>
    </div>
</section>
