{{ "<!-- Portfolio Modals -->" | safeHTML }}
<section id="certificatoins">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Certifications &amp; Training </h2>
                <h3 class="section-subheading text-muted">&nbsp;</h3>
            </div>
        </div>
        <div class="col-lg-4">
        	<ul>
        		<li>Andrews </li>
				<li>Commscope </li>
				<li>RFS </li>
				<li>PPC</li>
				<li>Anritsu Sweep Certified</li>
				<li>Anritsu Fiber / OTDR Certified</li>
				<li>PIM Certified</li>
				<li>First Aid/CPR</li>
				<li>OSHA 10 &amp; 30 Hour</li>
				<li>RF Awareness &amp; Safety</li>
				<li>Comtrain “In House”  Trainer</li>
				<li>Comtrain Climber / Rescue</li>
        	</ul>
        </div>
        <div class="col-lg-8">
        	<span>Proficient installing DAS head-end: including, but not limited to DAS,RF and DC power. Das alarming test procedures.</span>
        	</p>
        	<span>Commissioning DAS head-end equipment: Bi-Directional Amplifier Set-up, Fiber DAS commissioning, measure and record RF Input / Output levels for all components.</span> 
        	</p>
        	<span>System optimization including RF  measurements using various test measurement. Identifying carrier signal source.  Determining RF donor sites.</span>
        	</p>
        	<span>Integration technology into a DAS(GSM,CDMA,WCDMA,UMTS, LTE and AWS)</span>
        	</p>
        	<span>Signal systems and communication system protocol/Wireless carrier infrastructure.</span>
        	</p>
        	<span>Manage our DAS cabling crews for coax and fiber installation, Troubleshooting and Isolation</span>
        </div>
    </div>
</section>
