{{ "<!-- Portfolio Modals -->" | safeHTML }}
<section id="certificatoins">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Certifications &amp; Training </h2>
                <h3 class="section-subheading text-muted">&nbsp;</h3>
            </div>
        </div>
        <div class="col-lg-3">
        	<ul>
        		<li>Andrews </li>
				<li>Commscope </li>
				<li>RFS </li>
				<li>PPC</li>
				<li>Anritsu Sweep Certified</li>
				<li>Anritsu Fiber / OTDR Certified</li>
				<li>PIM Certified</li>
				<li>First Aid/CPR</li>
				<li>OSHA 10 &amp; 30 Hour</li>
				<li>RF Awareness &amp; Safety</li>
				<li>Comtrain “In House”  Trainer</li>
				<li>Comtrain Climber / Rescue</li>
        	</ul>
        </div>
        <div class="col-lg-9">
            <div class="row">
            	<div class="col-sm-12 col-lg-12 blue-box">Proficient installing DAS head-end: including, but not limited to DAS,RF and DC power. Das alarming test procedures.</div>
            	</p>
            	<div class="col-sm-12 col-lg-12 blue-box">Commissioning DAS head-end equipment: Bi-Directional Amplifier Set-up, Fiber DAS commissioning, measure and record RF Input / Output levels for all components.</div> 
            	</p>
            	<div class="col-sm-12 col-lg-12 blue-box">System optimization including RF  measurements using various test measurement. Identifying carrier signal source.  Determining RF donor sites.</div>
            	</p>
            	<div class="col-sm-12 col-lg-12 blue-box">Integration technology into a DAS(GSM,CDMA,WCDMA,UMTS, LTE and AWS)</div>
            	</p>
            	<div class="col-sm-12 col-lg-12 blue-box">Signal systems and communication system protocol/Wireless carrier infrastructure.</div>
            	</p>
            	<div class="col-sm-12 col-lg-12 blue-box">Manage our DAS cabling crews for coax and fiber installation, Troubleshooting and Isolation</div>
            </div>
        </div>
    </div>
</section>
