{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row top10">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</h2>
            </div>
            <div class="col-lg-12 section-text">
                <address>
                    1800 Country Line Road<br> 
                    Philadelphia, PA 18914<br>
                    <br>
                    285 National Pl #117<br>
                    Longwood, FL 32750<br>
                    <br>
                    Kyle Lis: <i class="fa fa-phone"></i> (&#x32;&#x36;&#x37;) &#x37;&#x37;&#x37;&#x2d;&#x37;&#x35;&#x34;&#x37;<br> 
                    <i class="fa fa-envelope"></i> &#x65;&#x6d;&#x61;&#x69;&#x6c;: &#x63;&#x6f;&#x6e;&#x74;&#x61;&#x63;&#x74;&commat;&#x69;&#x6e;&#x76;&#x65;&#x72;&#x74;&#x69;&#x63;&#x65;&period;&#x6e;&#x65;&#x74;</br>
                </address>
            </div>
        </div>
    </div>
</section>
