{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="iodas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">I/O DAS, Small Cell, Fiber &amp; Smart City solutions</h2>
            </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-11 blue-box">
                    <h5>Complete PMP Cradle to Grave Project, Program (PMO),  Construction, Integration and Optimization Support Services</h5>
                </div>
                <div class="col-lg-11"></div>
            </div>    
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li>National Team Key Supplier    Partnerships</li>
                        <li>Site Acquisition</li>
                        <li>RF Engineering &nbps; BOM’s (iBWAVE)</li>
                        <li>Site Walks</li>
                        <li>Bidding</li>
                        <li>Construction Management</li>
                        <li>Project Management</li>
                        <li>Integration Management </li>
                        <li>Optimization Support (5 Step)</li>
                        <li>Close Outs</li>
                        <li>Operations &nbsp; Maintenance</li>
                        <li>Neutral Host Head End Builds</li>
                        <li>DAS Carrier Adds &amp; Modifications</li>
                        <li>Project Contract Staffing (all levels)</li>
                        <li>Aerial &amp; Underground Fiber</li>
                        <li>MDU Builds and Turn Up</li>
                    </ul>
                </div>
            </div>  	
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11 blue-box">
                    <h5>Serving</h5>
                </div>
            </div>    
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li>All Enterprise and Public locations.  Education, Health Care, Public Safety, Stadiums, Arena's, Airports, Tunnels</li>
                        <li>First Responders. Police, Fire, EMT, E911 Centers</li>
                        <li>Government &amp; Military</li>
                        <li>Major Corporations</li>
                        <li>Property Portfolio Owners,  High Rise Buildings </li>
                    </ul>
                </div>
            </div>                 
        </div>
    </div>
</section>
