{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="iodascli">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">DAS Clients &amp; Customers</h2>
                <h3 class="section-subheading text-muted">Past and Current</h3>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-11 blue-box">
                    <h5>Clients Served</h5>
                </div>
                <div class="col-lg-11"></div>
            </div>    
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li>AT&amp;T ASG</li>
                        <li>Verizon </li>
                        <li>Sprint</li>
                        <li>US Cellular</li>
                        <li>Crown Castle</li>
                        <li>American Tower Corporation</li>
                    </ul>
                </div>
            </div>  	
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11 blue-box">
                    <h5>Customers</h5>
                </div>
                <div class="col-lg-12">
                    <ul>
                        <li>All Enterprise and Public locations.  Education, Health Care, Public Safety, Stadiums, Arena's, Airports, Tunnels</li>
                        <li>First Responders. Police, Fire, EMT, E911 Centers</li>
                        <li>Government &amp; Military</li>
                        <li>Major Corporations</li>
                        <li>Property Portfolio Owners,  High Rise Buildings </li>
                    </ul>
                </div>
            </div>                 
        </div>
    </div>
</section>
