{{ "<!-- Portfolio Modals -->" | safeHTML }}
<section id="locations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Locations </h2>
                <h3 class="section-subheading text-muted">Office locations &amp; Areas Served</h3>
            </div>
        </div>
        <div class="row top10">
         <div class="col-lg-6">
            <h4>Head Office</h4>
            <address>
                1800 Country Line Road<br> 
                Philadelphia, PA 18914<br>
            </address>
            </p>    
            <h4>Sattelite Office Operations</h4>
            <address>
                Pittsburg, PA
            </address>
        </div>
        <div class="row top10">
            <div class="col-lg-12">
            	<div id="map_wrapper">
    			    <div id="map_canvas" class="mapping"></div>
    			</div>
            </div>
        </div>
        <div class="row top10">
            <div class="col-lg-12">
                <h4>Markets Served</h4>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-4">
                <ul>
                    <li>BAWA</li>
                    <li>Virginia</li>
                    <li>Connecticut</li>
                    <li>Il/WI</li>
                    <li>Kentucky</li>
                    <li>KOP/Philly</li>
                    <li>Massachusetts</li>
                </ul>
                </div>
                <div class="col-lg-4">
                <ul>
                    <li>New Jersey</li>
                    <li>New England</li>
                    <li>Mid Atlantic</li>
                    <li>NY, Long Island</li>
                    <li>New York</li>
                    <li>NY, Upstate</li>
                    <li>N/S Carolina</li>
                </ul>
                </div>
                <div class="col-lg-4">
                <ul>
                    <li>OHPA, Ohio</li>
                    <li>OHPA, Pittsburgh</li>
                    <li>OHPA, W.Va.</li>
                    <li>PA, Harrisburg</li>
                    <li>PA, ALL</li>
                    <li>Tennessee, All</li>
                </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
