{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="staffing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Recruting &amp; Staffing Solutions </h2>
                <h3 class="section-subheading text-muted">GIVE INVERTICE THE OPPORTUNITY TO FILL YOUR TEMPORARY CONTRACT OR PERMANENT STAFFING REQUIREMENTS.</h3>
            </div>
        </div>
        <div class="col-lg-12">
        	<div id="text">
			    At Invertice, we don’t have “Non Industry” people in cubicles matching job description's with job site resumes. Our resources are from our extensive Global Telecommunications Network connections that are <strong>proven industry professionals</strong>. 
                </p>
                We know <strong>what your needs are</strong> and <strong>know the resources</strong> that are <strong>the best fit</strong> for your positions.
                </p> 
                Our “Old School” approach results in <strong>lower turnover</strong> and a much <strong>higher overall success rate</strong> with your projects saving you money &amp; time!
                </p>
			</div>
        </div>
    </div>
</section>
