<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){
            w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
            var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            }
        )
        (window,document,'script','dataLayer','GTM-PM6MGVG');
    </script>
<!-- End Google Tag Manager -->
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PM6MGVG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
<!-- End Google Tag Manager (noscript) -->
        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "about.html" . }}
        {{ partial "services.html" . }}
        {{ partial "celltowerandmacro.html" . }}
        {{ partial "celltowerandmacro_clients.html" . }}
        {{ partial "iodas.html" . }}
        {{ partial "iodas_cli.html" . }}
        {{ partial "clients.html" . }}
        {{ partial "certifications.html" . }}
        {{ partial "staffing.html" . }}
        <!-- {{ partial "portfolio.html" . }} -->
        {{ partial "team.html" . }}
        {{ partial "locations_1.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
